<div class="main-container">
<div class="conversation-container">
<app-conversations></app-conversations>
</div>
  <div class="chat-container">
    <div class="chat-history" #chatHistoryContainer>
      @for (message of chatHistory; track $index) {
        @if (message.isLoading) {
          <div class="load-message">
            <div>
              <app-skeleton-loader width="30%" height="100px" borderRadius="8px"></app-skeleton-loader>
            </div>
            <div>
              <app-skeleton-loader width="80%" height="25px"></app-skeleton-loader>
            </div>
            <!-- Skeleton Loader for Title -->
          <div>
            <app-skeleton-loader width="80%" height="35px"></app-skeleton-loader>
          </div>
            <!-- Skeleton Loader for Description -->
            <div>
              <app-skeleton-loader width="80%" height="35px"></app-skeleton-loader>
            </div>
          </div>
        }
        @else {
          <div [class.user-message]="message.isUser" [class.bot-message]="!message.isUser">
            <div class="user-manual">
              {{ message.message }}
              @if (message.codeSnippet) {
                <!-- <button id="copy-button" (click)="copyCode()">Copy</button> -->
                <fa-icon (click)="copyCode()" [icon]="faCopy"></fa-icon>
                <pre><code id="copy">{{ message.codeSnippet }}</code></pre>
              }
            </div>
          </div>
        }
       <!--  <div [class.user-message]="message.isUser + ' message'" [class.bot-message]="!message.isUser + ' message'">
          <div class="user-manual">
            {{ message.message }}
            @if (message.codeSnippet) {
              <pre><code>{{ message.codeSnippet }}</code></pre>
            }
          </div>
        </div> -->
      }
    </div>
    <div class="chat-input">
      <div class="upload-files" [ngClass]="{'active': isActive === 'active' , 'in-active': isActive === 'inactive' }">
        <img src="assets/images/add-icon.png" (click)="openFileInput()" alt="Send" class="add-icon">
        <div class="media-container">
          <img src="assets/images/video-icon.png" alt="Send" (click)="selectVideo.click()" class="video-icon">
          <img src="assets/images/image-icon.png" alt="Send" (click)="selectImage.click()" class="image-icon">
        </div>
      </div>
      <input type="text" [(ngModel)]="userMessage" (keyup.enter)="sendMessage()" placeholder="Type your message...">
      <input #selectImage type="file" class="image-select" (change)="onFileSelected($event)" accept="image/*">
      <input #selectVideo class="image-select" type="file" (change)="onVideoAudioSelected($event)" accept=".mp4,.mov,.avi,.mp3,.wav">
      <button (click)="sendMessage()">Send</button>
    </div>
  </div>
</div>